/*
***************************
1. General
***************************
*/

html,
body
{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, form, fieldset, label, input, button, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}


/*
***************************
Flex Box
***************************
*/

.container {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    height: 100%;
}

.nav_top {
    width: 100%;
    height: 10%;
    min-height: 50px;
}

.box {
    width: 100%;
    min-height: 150px;
}

.footer_bottom {
    width: 100%;
    height: 10%;
}

.dark_blue {
    background-color: #2A457A;
    color: #efefef;
}

.light_blue {
background-color: #1fb3cf;
}

.light_blue_gradient {
    background: linear-gradient(135deg, #1fb3cf 0, #304999 100%);
}

.green {
background-color: #0C8542;
}

.lime {
background-color: rgb(179, 210, 52);
}

.seafoam {
background-color: rgb(77, 190, 161);
}

.red {
background-color: #EC1D3B;
}

.orange {
background-color: #F79420;
}

.black {
background-color: #000000;
}

.complementary {
    background-color: #cf3b1f;
}

.triadic {
    background-color: #b3cf1f;
}




/*
***************************
Text
***************************
*/

.title {
  font-size: 1.75em;
  color: #ffffff;
  -webkit-justify-content: center; /* Safari 6.1+ */
  text-align: center;
}


.opacity {
    opacity: 1.0;
}

/*
***************************
background-hero
***************************
*/

.image-box {
    width: 100%;
    height: 40%;
}

.text-box {
    width: 100%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
}

.background-box {
    width: 100%;
    height: 90%;
    /* height: 90vmax;
    width: 100vmax; */
}

.centre {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.logo {
    display: block;
    margin: 0 auto;
}

.background-test {
    background:
    url(images/Small_1x_Design.png) no-repeat center center scroll; */ change scroll to fixed for parrelx scrolling */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* linear-gradient(135deg, #1fb3cf 0, #304999 100%), */
}

.background-gradient {
    /* background: linear-gradient(to top, #5ee7df 0%, #b490ca 100%); */
    background: #0082c8; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /*Safari 5.1-6*/
    background: -o-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /*Opera 11.1-12*/
    background: -moz-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /*Fx 3.6-15*/
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /*Standard*/
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    }

.background-hero {
    background:
    url(images/energy_supplier_small.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
/* linear-gradient(to bottom, rgba(41,128,185, 0.7),rgba(44,62,80,0.7)) */
}



/*
***************************
Form
***************************
*/

.main-form {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column /* works with row or column */
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    margin: 15px 0px 5px 0px;

}

.form-text {
    width: 100%;
    text-align: center;
    font-size: 0.75 em;
    color: #ffffff;
    -webkit-justify-content: center; /* Safari 6.1+ */

}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input:not([type=submit]):not([type=file]) {
   /* save typing out all of the different types */
   padding: 12px 12px; /* top & bottom, right and left */
   box-sizing : border-box; /* keep in the parent */
   font-size: 0.75em;
}



.button {
    background-color: #1fb3cf; /* Light Blue */
    border: 1px solid #1fb3cf; /* Blue */
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 12px 12px;
    font-size: 0.9em;
    box-sizing : border-box;
}


/*
***************************
Media Queries
***************************
*/

@media
only screen and (min-resolution: 2dppx) and (max-width: 320px) {
    /* Small screen, retina */
    .hero #cafe { background-image: url("../img/candc290@2x.jpg"); }
}


@media screen and (min-width: 450px) {
    .dark_blue {
        width: 25%;
    }
    .orange {
        width: 75%;
    }
}

@media screen and (min-width: 550px) {
    .dark_blue, .green {
        width: 25%;
    }
    .orange {
        width: 50%;
    }
}

@media screen and (min-width: 800px) {
    .container {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    .background-hero{
        background:
        url(images/energy_supplier_large_2x_copy.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    /* linear-gradient(to bottom, rgba(41,128,185, 0.7),rgba(44,62,80,0.7)) */
}

@media only screen and (min-width: 1200px) {
    /* styles for wide screens */
}


@media only screen and (min-width: 1440px) {
    /* styles for MacBook Pro-sized screens and larger */
}
