/*
***************************
1. General
***************************
*/

html,
body
{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}


/*
***************************
Flex Box
***************************
*/

.container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.nav_top {
    width: 100%;
    height: 10%;
    min-height: 50px;
}

.box {
    width: 100%;
    min-height: 150px;
}

.footer_bottom {
    width: 100%;
    height: 10%;
}

      .dark_blue {
        background-color: #2A457A;
        color: #efefef;
      }

      .light_blue {
        background-color: #099DD9;
      }

      .green {
        background-color: #0C8542;
      }

      .lime {
        background-color: rgb(179, 210, 52);
      }

      .seafoam {
        background-color: rgb(77, 190, 161);
      }

      .red {
        background-color: #EC1D3B;
      }

      .orange {
        background-color: #F79420;
      }




/*
***************************
Text
***************************
*/

.title {
  font-size: 2.5em;
  color: #ffffff;
  -webkit-justify-content: center; /* Safari 6.1+ */
  text-align: center;
}


/*
***************************
background-hero
***************************
*/

.image-box {
    width: 100%;
    height: 40%;
}

.text-box {
    width: 100%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
}

.centre {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.logo {
    display: block;
    margin: 0 auto;
}



.background-gradient {
    /* background: linear-gradient(to top, #5ee7df 0%, #b490ca 100%); */
    background: #0082c8; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /*Safari 5.1-6*/
    background: -o-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /*Opera 11.1-12*/
    background: -moz-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /*Fx 3.6-15*/
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /*Standard*/
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    }

.background-hero {
    background:
    url(images/energy_supplier_small.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
/* linear-gradient(to bottom, rgba(41,128,185, 0.7),rgba(44,62,80,0.7)) */
}



/*
***************************
Form
***************************
*/

.main-form {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-justify-content: center; /* Safari 6.1+ */
    text-align: center;
    width: 100%;
}

li {
    display: inline;
    -webkit-justify-content: center; /* Safari 6.1+ */
    text-align: center;
}

.form-text {
    width: 100%;
    text-align: center;
    font-size: 0.75 em;
    color: #ffffff;
    -webkit-justify-content: center; /* Safari 6.1+ */
    text-align: center;
}

input:not([type=submit]):not([type=file]) {
   /* omg so much cleaner */
   width: 100%;
   padding: 12px 12px; /* top & bottom, right and left */
   margin-left: auto;
   margin-right: auto;
   font-size: 0.75em;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 0.75em;
    margin-left: 10px;
}





/*
***************************
Media Queries
***************************
*/

@media screen and (min-width: 450px) {
    .dark_blue {
        width: 25%;
    }
    .light_blue {
        width: 75%;
    }
}

@media screen and (min-width: 550px) {
    .dark_blue, .green {
        width: 25%;
    }
    .light_blue {
        width: 50%;
    }
}

@media screen and (min-width: 800px) {
    .container {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    .background-hero{
        background:
        url(images/energy_supplier_large_2x_copy.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    /* linear-gradient(to bottom, rgba(41,128,185, 0.7),rgba(44,62,80,0.7)) */
}
