* {
margin: 0;
padding: 0;
}

img {
    transition: width 0.5s;
    width: 100vw;
    height: 100vh;
}

.picture-image img {
    transition: width 0.5s;
    width: 50vw;
}

@media screen and (max-width: 450px) {
    .picture-image img {
        width: 100vw;
    }
}

/*
@media screen and (max-width: 450px) {
    html {
        background: url(images/bg_small.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media screen and (min-width: 451px) {
    html {
            background: url(images/bg.png) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    body {
        background-color: lightgreen;
    }
}

@media screen and (max-width: 700px) and (orientation: landscape) {
    background: url(images/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/
